services:
  bebe:
    container_name: bebe
    image: ${REGISTRY_URL}/bebe:${COMMIT_HASH}
    env_file:
      - ${ENV_FILES_ROOT}/bebe.env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://production:production@postgres:5432/production
      BROKER_URL: amqp://rabbit:rabbit@rabbitmq:5672
      TRACE_EXPORTER_URL: http://otel-collector:4318/v1/traces
      CRONS_START_ON_INIT: false
    networks:
      - proxy-network

  collection:
    container_name: collection
    image: ${REGISTRY_URL}/collection:${COMMIT_HASH}
    env_file:
      - ${ENV_FILES_ROOT}/collection.env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://production:production@postgres:5432/production
      BROKER_URL: amqp://rabbit:rabbit@rabbitmq:5672
      TRACE_EXPORTER_URL: http://otel-collector:4318/v1/traces
    networks:
      - proxy-network

  ana-liese:
    container_name: ana-liese
    image: ${REGISTRY_URL}/ana-liese:${COMMIT_HASH}
    env_file:
      - ${ENV_FILES_ROOT}/ana-liese.env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://production:production@postgres:5432/production
      BROKER_URL: amqp://rabbit:rabbit@rabbitmq:5672
      TRACE_EXPORTER_URL: http://otel-collector:4318/v1/traces
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true
